*{
    margin: 0; padding: 0;
    text-decoration: none;
    list-style: none;
    transition: 0.3s;
}

body{
    max-width: 1520px;
    margin: auto;
    background: #F9F8F8;
    overflow-x: hidden;
    background-image: url('./images/bg.png');
    font-family: 'FuturaPT', 'Arial', sans-serif;
}

.container {
    max-width: 1520;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: rect (0 0 0 0);
}

@font-face {
    font-family: 'FuturaPT';
    src: url('./futura-font/FuturaPT-Bold.woff');
    src: url('./futura-font/FuturaPT-Bold.woff2');
    src: url('./futura-font/FuturaPT-Light.woff');
    src: url('./futura-font/FuturaPT-Light.woff2');
    src: url('./futura-font/FuturaPT-Medium.woff');
    src: url('./futura-font/FuturaPT-Medium.woff2');
}

.first-header{
    height: 39px;
    padding-left: 258px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F9F8F8;
  
}

.first-header div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.first-header .adress img{
    margin-right: 9px;
}

.first-header .work-days img{
    margin-right: 9px;
}

.first-header .tel-numbers p:hover{
    color: #FFBD54;
}

.first-header .tel-numbers p:active{
    color: #949494;
}

.first-header .second-days{
    padding-right: 140px;
}

.first-header img{
    width: 14px;
    height: 13px;
    
}

.first-header p{
    color: #333;
    font-family: Futura PT;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.first-header .tel-numbers .first-number img{
    margin-right: 9px;
}

.first-header .tel-numbers .elipse{
    width: 4px;
    height: 4px;
    margin-right: 9px;
    margin-left: 9px;
}

.main-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 61px;
    border: 1px;
    background: #fff;
}

.main-header .image{
    width: 177.55px;
    height: 86.23px;
    z-index: 1000;
}

.main-header .image img{
    padding-left: 65px;
    margin-top: -6px;
    cursor: pointer;
}

.main-header .image img:hover{
    opacity: 80%;
}

.main-header .image img:active{
    opacity: 60%;
}

.main-header nav{
    width: 692px;
}

.main-header nav ul img{
    margin-right: -12px;
}

.main-header nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main-header nav ul li a{
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.main-header nav ul li a::after{
    content: '';
    width: 0%;
    height: 1.5px;
    display: block;
    margin: auto;
    transition: 0.5s;
    background: #FFBD54;
}

.main-header nav ul li a:hover{
    transition: 0.5s;
}

.main-header nav ul li a:active{
    color: #949494;
}

.main-header nav ul li a:hover::after{
    width: 100%;
}

.main-header .questions{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 140px;
}

.main-header .questions p{
    display: inline-block;
    margin-left: .5rem;
}

/* main section starts  */

.hero-section {
    padding-left: 177px;
}

.hero-box-container {
    display: flex;
    justify-content: space-between;
}

.hero-box-content {
    padding-top: 110.77px;
    width: 453px;
}

.hero-box-main-heading {
    font-size: 70px;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 21px;
    color: #333;
}

.hero-box-main-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; 
    color: #949494;
}


.service-section {
    padding: 0 65px;
    margin-bottom: 168px;
}

.service-box-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 32px;
}

.service-box-content {
    padding-top: 58px;
    padding-left: 53px;
    padding-bottom: 45px;
    padding-right: 22px;
    border-radius: 5px 5px 0px 0px;
    background: #FFF;
    position: relative;
    cursor: pointer;
}

.service-box-content:hover {
    box-shadow: 0 0 1rem rgba(0,0,0, .1);
}

.pet-icon {
    position: absolute;
    top: 0;
    right: 0;
}

.doctor-img {
    margin-bottom: 21px;
}

.doctor-profession {
    font-size: 32px;
    font-weight: 600;
    line-height: 34px; 
    margin-bottom: 14px;
    color: #333;
}

.doctor-profession-definition {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; 
    width: 229px;
    margin-bottom: 41px;
    color: #949494;
}

.item-inner-link {
    font-size: 16px;
    font-weight: 450;
    line-height: normal;
    padding: 15px 30px;
    color: #FFF;
    border-radius: 3px;
    background-color: #000;
}

.item-inner-link:hover {
    background-color: #FFBD54;
}

.active1 {
    background-color: #78c0de;
}

.active1:hover {
    background-color: #FFBD54;
}

.active2 {
    background-color: #FFBD54;
}

.active2:hover {
    background-color: #78c0de;
}


/* footer section starts  */

.footer-inner {
    display: flex;
    flex-direction: row;
    padding: 0 7%;
    padding-top: 2rem;
    padding-bottom: 4rem;
    border: 1px solid #EBEBEB;
    background: #F3F3F3;
}

.footer-inner nav ul{
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
}

.footer-inner nav ul li a{
    line-height: 30px;
    color: #333;
    font-weight: 500;
}

.footer-inner nav ul li:hover a{
    color: #FFBD54;
}

.footer-inner nav ul li:active a{
    color: #949494;
}

.footer-inner nav{
    display: flex;
    flex-direction: row;
    column-gap: 5rem;
    margin-left: 3rem;
}

.footer-inner .time-tables{
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
    margin-left: 10rem;
}

.footer-inner .content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.footer-inner .content p{
    margin-left: .5rem;
    line-height: 22px;
}

.footer-inner .image img{
    cursor: pointer;
}

.footer-inner .image img:hover{
    opacity: 80%;
}

.footer-inner .image img:active{
    opacity: 60%;
}